* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #d1d9dd;
}

.counter-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.counter-main h1 {
  font-size: 130px;
  color: #111111;
  margin-bottom: 30px;
}

.counter-btn button {
  font-size: 18px;
  text-transform: uppercase;
  border: 3px solid #eceff3;
  border-radius: 7px;
  background-color: #9e63b6;
  color: #eceff3;
  padding: 20px 40px;
  margin-left: 10px;
  cursor: pointer;
  letter-spacing: 1px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}
